.card {
  width: 320px;
  height: 380px;
  background-color: #fdba4e;
  margin: 20px 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.cardTitle {
  display: flex;
  justify-content: flex-start;
  background-color: #fac775;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  height: 75px;
}

.cardTitle h3 {
  margin-left: 20px;
  font-size: 28px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
}

.cardTitle img {
  margin-left: 10px;
}

.cardAvatar {
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.cardPType {
  font-size: 14px;
}

.cardSpanType {
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: white;
  padding: 2px 15px 0px 15px;
  margin: 0 8px;
  border-radius: 20px;
}

.cardDescription {
  width: 100%;
  background-color: rgba(250, 199, 116, 0.5);
  color: rgb(65, 65, 65);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #fde3b8;
}

.cardDescription .moreDetails {
  align-self: flex-end;
  padding-right: 5px;
  font-size: 14px;
  color: #e1392c;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
}

.cardDescription p {
 padding-left: 10px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 5px;
}

.cardFooter .createdAt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-left: 10px;
}

.cardFooter .iconsFooter {
  margin-right: 10px;
}

.cardFooter .iconFooter {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.cardFooter .iconFooter:hover {
  color: white
}