.modalDelete {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDeleteContainer {
  width: 500px;
  height: 210px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 5px;
}

.modalDeleteHeader {
  display: flex;
  align-items: center;
  background-color: #e1392c;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  color: white;
}

.content {
  margin: 20px 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.content .contentIcon {
  font-size: 26px;
  color: #e1392c;
  margin: 0 10px 0 10px;
}

.modalDeleteFooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 50%;
}


/* -- responsive -- */

@media(max-width: 410px) {
  
  .modalDeleteFooter {
    margin-top: -20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
  }

}