.modalAdd {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 430px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
  z-index: 2;
  border-radius: 5px;
}

.modalAddHeader {
  display: flex;
  align-items: center;
  background-color: #e1392c;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  color: white;
}

.closeIcon {
  display: flex;
  font-size: 36px;
  margin-right: 40px;
  cursor: pointer;
}

.modalContainer h2 {
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
}

.contentP {
  font-size: 18px;
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.contentPIcon {
  font-size: 22px;
  margin: 0 10px 0 10px;
}

.modalFields {
  display: flex;
  width: 85%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 110px;
  margin: 25px;
  padding: 15px 20px;
  border-radius: 5px;
}

.modalFields .field {
  width: 90%;
  background-color: #fafafa;
}

.modalFields .select {
  width: 70%;
  height: 37px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.modalAddButton {
  font-family: 'Teko', sans-serif;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e1392c;
  border: 1px solid #e1392c;
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  transition: ease-in 0.2s;
  margin-top: 20px;
  letter-spacing: 1px;
}

.modalAddButton:enabled:hover {
  background-color: white;
  color: #e1392c;
}

.modalFooter {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
}