.modalDelete {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDeleteContainer {
  width: 500px;
  height: 220px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 5px;
}

.modalDeleteHeader {
  display: flex;
  align-items: center;
  background-color: #e1392c;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  color: white;
}

.content {
  margin: 20px 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.content .contentIcon {
  font-size: 30px;
  color: #fdba4e;
  margin: 0 10px 0 10px;
}

.modalDeleteButton {
  font-family: 'Teko', sans-serif;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e1392c;
  border: 1px solid #e1392c;
  font-size: 20px;
  cursor: pointer;
  transition: ease-in 0.2s;
  outline: none;
  letter-spacing: 1px;
}

.modalDeleteButton:hover {
  background-color: white;
  color: #e1392c;
}

.modalDeleteFooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
}