.userBarContainer {
  position: absolute;
  top: 10px;
  width: 80%;
  height: 20px;
  text-align: right;
  font-weight: bold;
}

.userBarContainer .userIcon {
  margin-left: 10px;
  cursor: pointer;
  color: blue;
}

.userBarContainer .menuLogout {
  display: none;
}

.userBarContainer .showMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 2px;
  right: -15px;
  padding: 12px 15px 16px 10px;
  background-color:rgb(235, 235, 235);
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9999;
}

.userBarContainer .showMenu span {
  margin-left: 5px;
}